*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.nav_bg {
    background-color: #7bed9f;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #ff4757;
}


.nav-item {
   
}

.nav-item > a {
    color: #fff;
    margin-left: 0 15px;
}

.nav-item > a:hover {
    background-color: #ff4757;
    color: #fff;
}

.nav-link {
    padding: 1rem 1em;
  }

.form-control {
    border-radius: 25px;
    padding-right: 80px;
}

.btn-outline-success {
    color: #198754;
    border-color: #ffffff;
    border-radius: 25px;
}

.input_me{
    margin-right: -50px !important;
    border: 2px solid #ff4757;
}

.btn_bg{
    background-color: #ff4757;
    border-color: #ff4757;
    padding: 0 20px;
    color: #fff;
}

.btn_bg:hover {
    border-color: #ff4757;
    background-color: #fff;
    color: #ff4757;
}


/* Food Item css start */


.title_bg {
    background-color: #7bed9f;
}

.btn1 {
    background-color: #ff4757;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 25px;
}

.btn1:hover{
    -webkit-box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.58); 
    box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.58);
}

/* Food Item css end */


/* Card section start */


.card {
    margin-top: 50px;
}

/* Card section end */

/* Trendy section start */


.card:hover {
    -webkit-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.55); 
    box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.55);
}

/* Trendy section end */

/* Footer section start */

.footerbg {
    background-color: #2f3542;
}


.footer_link_color  a {
    color: #fff !important;
    text-decoration: none;
}



.subscribeform > input {
    width: 50%;
    height: 50px;
    padding-left: 20px;
    border-radius: 25px;
    margin-right: -50px;
    border: 1px solid #fff;
}

.subscribeform > button {
    width: 25%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #fff;
    color:#fff;
    font-weight: bold;
    background-color: #7bed9f
}

/* Footer section end */